# Raw data
data/*.fastq
data/*.fastq.gz

# Alignments
align/*.bam
align/*.bai

# Flye intermediates
assembly/flye/00-assembly/
assembly/flye/10-consensus/
assembly/flye/20-repeat/
assembly/flye/40-polishing/

# Keep final contigs only
assembly/flye/30-contigger/*.bam
assembly/flye/30-contigger/*.bai

# Variant outputs
variants/**/*.vcf
variants/**/*.vcf.gz
variants/**/*.tbi

# Logs and temp files
*.log
*.stderr
tmp/
**/tmp/

# System files
.DS_Store
